<div class="about">
    <h1>Office365 Calendar Exporter</h1>
    <p class="about-body">Thank you visiting this site.<br><b>Note:</b> The calendar data exported by this application for your personal use is not stored on our servers. We will never store nor use your calendar data. We do however log and keep a record of users (ip address, email address and download date) who have used the site to download their calendar data.</p>
    <p class="about-body">If you have any questions, suggestions or are in need of any support for this site... <a href="mailto:warren.fisher@eoh.com">Email me</a>.</p>
</div>